caproto
databroker
h5py
# isstools
kkcalc
lmfit
matplotlib
numexpr
numpy
opencv-python
ophyd
pandas
pexpect
pillow
pyfai
pyqt5
scipy
scikit-learn
tiled[client]
wxpython!=4.2.0  # issue with attrdict
xarray
xraydb
xraylarch
